/*default white theme*/
:root {
	--layout-cl: #fff;
	--sidebar-cl: rgba(0, 0, 0, 0.05);
	--sidebar-collapse-cl: #f2f2f2;
	--a-player-cl: rgba(255, 255, 255, 0.7);

	--a-player-cl: rgba(192, 216, 216, 0.7);

	--a-player-cl: rgba(222, 218, 209, 0.7);

	--a-player-cl: rgba(24, 24, 24, 0.7);

	--a-player-cl: rgba(17, 31, 59, 0.7);

	--a-player-cl: rgba(59, 17, 19, 0.7);
	--player-cl: rgb(255, 255, 255);
	--popup-cl: #fff;

	--primary-cl: #5a9e87;

	--popup-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);

	--text-cl: #333;
	--a-5-cl: rgba(0, 0, 0, 0.05);
	--a-10-cl: rgba(0, 0, 0, 0.1);
}

.dark {
	--sidebar-cl: rgba(255, 255, 255, 0.05);
	--text-cl: #fff;
	--a-5-cl: rgba(255, 255, 255, 0.05);
	--a-10-cl: rgba(255, 255, 255, 0.1);
}

[data-theme="light_green"] {
	--layout-cl: #ced9d9;
	--a-player-cl: rgba(255, 255, 255, 0.7);

	--a-player-cl: rgba(192, 216, 216, 0.7);

	--a-player-cl: rgba(222, 218, 209, 0.7);

	--a-player-cl: rgba(24, 24, 24, 0.7);

	--a-player-cl: rgba(17, 31, 59, 0.7);

	--a-player-cl: rgba(59, 17, 19, 0.7);
	--player-cl: rgb(192, 216, 216);
	--sidebar-cl: rgba(255, 255, 255, 0.2);
	--sidebar-collapse-cl: #cce0e0;
	--popup-cl: #e0ebeb;
}

[data-theme="brown"] {
	--layout-cl: #e5e3df;
	--a-player-cl: rgba(255, 255, 255, 0.7);

	--a-player-cl: rgba(192, 216, 216, 0.7);

	--a-player-cl: rgba(222, 218, 209, 0.7);

	--a-player-cl: rgba(24, 24, 24, 0.7);

	--a-player-cl: rgba(17, 31, 59, 0.7);

	--a-player-cl: rgba(59, 17, 19, 0.7);
	--player-cl: rgb(222, 218, 209);
	/*--sidebar-cl: #f2f2f2; */
	/*--sidebar-collapse-cl: #f2f2f2;*/
	--popup-cl: #f7f5f3;

	--primary-cl: #644646;
}

[data-theme="black"] {
	--layout-cl: #1e1e1e;
	--a-player-cl: rgba(255, 255, 255, 0.7);

	--a-player-cl: rgba(192, 216, 216, 0.7);

	--a-player-cl: rgba(222, 218, 209, 0.7);

	--a-player-cl: rgba(24, 24, 24, 0.7);

	--a-player-cl: rgba(17, 31, 59, 0.7);

	--a-player-cl: rgba(59, 17, 19, 0.7);
	--player-cl: rgb(24, 24, 24);
	--sidebar-cl: #333;
	--sidebar-collapse-cl: #333;
	--popup-cl: #333;
}

[data-theme="deep_blue"] {
	--layout-cl: #0f1a2e;
	--a-player-cl: rgba(255, 255, 255, 0.7);

	--a-player-cl: rgba(192, 216, 216, 0.7);

	--a-player-cl: rgba(222, 218, 209, 0.7);

	--a-player-cl: rgba(24, 24, 24, 0.7);

	--a-player-cl: rgba(17, 31, 59, 0.7);

	--a-player-cl: rgba(59, 17, 19, 0.7);
	--player-cl: rgb(17, 31, 59);
	/*--sidebar-cl: #1b2639;*/
	--sidebar-collapse-cl: #1d2a49;
	--popup-cl: #173b45;

	--primary-cl: #0c9e85;
}

[data-theme="red"] {
	--layout-cl: #2e0f10;
	--a-player-cl: rgba(255, 255, 255, 0.7);

	--a-player-cl: rgba(192, 216, 216, 0.7);

	--a-player-cl: rgba(222, 218, 209, 0.7);

	--a-player-cl: rgba(24, 24, 24, 0.7);

	--a-player-cl: rgba(17, 31, 59, 0.7);

	--a-player-cl: rgba(59, 17, 19, 0.7);
	--player-cl: rgb(59, 17, 19);
	/*--sidebar-cl: rgba(0, 0, 0, 0.05);*/
	--sidebar-collapse-cl: #7a2922;
	--popup-cl: #522325;

	--primary-cl: #ca4954;
}

.full-screen {
	--a-5-cl: rgba(255, 255, 255, 0.05);
	--a-10-cl: rgba(255, 255, 255, 0.1);
}
