/*default white theme*/
:root {
	--layout-cl: #fff;
	--sidebar-cl: rgba(0, 0, 0, 0.05);
	--sidebar-collapse-cl: #f2f2f2;
	--player-cl: #fff;
	--popup-cl: #fff;

	--primary-cl: #198585;

	--text-cl: #333;
	--a-5-cl: rgba(0, 0, 0, 0.05);
	--a-10-cl: rgba(0, 0, 0, 0.1);
}

.dark {
	--sidebar-cl: rgba(255, 255, 255, 0.05);
	--text-cl: #fff;
	--a-5-cl: rgba(255, 255, 255, 0.05);
	--a-10-cl: rgba(255, 255, 255, 0.1);
}

[data-theme="light_green"] {
	--layout-cl: #ced9d9;
	--player-cl: #c0d8d8;
	--sidebar-cl: rgba(255, 255, 255, 0.2);
	--sidebar-collapse-cl: #cce0e0;
	--popup-cl: #e0ebeb;
}

[data-theme="brown"] {
	--layout-cl: #e5e3df;
	--player-cl: #dedad1;
	/*--sidebar-cl: #f2f2f2; */
	/*--sidebar-collapse-cl: #f2f2f2;*/
	--popup-cl: #f7f5f3;

	--primary-cl: #644646;
}

[data-theme="black"] {
	--layout-cl: #1e1e1e;
	--sidebar-cl: #333;
	--sidebar-collapse-cl: #333;
	--player-cl: #181818;
	--popup-cl: #333;
}

[data-theme="deep_blue"] {
	--layout-cl: #0f1a2e;
	/*--sidebar-cl: #1b2639;*/
	--sidebar-collapse-cl: #1d2a49;
	--player-cl: #111f3b;
	--popup-cl: #173b45;

	--primary-cl: #0c9e85;
}

[data-theme="red"] {
	--layout-cl: #2e0f10;
	/*--sidebar-cl: rgba(0, 0, 0, 0.05);*/
	--sidebar-collapse-cl: #7a2922;
	--player-cl: #3b1113;
	--popup-cl: #522325;

	--primary-cl: #ca4954;
}
